# 1. Importando bibliotecas

In [11]:
from funcoes import *
import matplotlib.pyplot as plt
import pandas_ta as ta
import yfinance as yf
import pandas as pd
import time

# 2. Obtendo os dados historicos das ações

## 2.1 Parâmetros

In [12]:
lista_acoes = [    
    'PETR4.SA',    # Petrobras
    'TAEE11.SA',   # Taesa    
    'NVDA',        # Nvidia
    'BBAS3.SA',    # Bradesco
    'NFLX',        # Netflix     
    'EA',          # EA
    'TSLA']        # Tesla

data_inicio = '2020-01-01' # data de inicio do historico que voce deseja obter
data_fim = '2023-12-31'    # data final do perido para o historico
# FORMATO-> "AAAA-MM-DD"

In [13]:
%%time

hist_data(data_inicio, data_fim, lista_acoes) # FUNCAO PARA OBTERMOS OS DADOS HISTORICOS DAS ACOES INDICADAS NA LISTA

"""
    Informacao sobre os dados historicos gerados:
        É gerado um DataFrame com as seguintes variáveis / colunas para cada acao ---> 
            "Date"     : representa a data do registro no formato "AAAA-MM-DD"
            "Open"     : Preco de abertura do dia
            "High"     : Preco mais alto do dia
            "Low"      : Preco mais baixo do dia
            "Close"    : Preco de fechamendo do dia
            "Adj Close": Preco de fechamento ajustado. Esse valor serve para ser usado em dividendos, splits de acoes, etc... (Eventos corporativos)
            "Volume"   : Representa o numero total de acoes negociadas durante o dia
"""

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

CPU times: total: 172 ms
Wall time: 236 ms

'\n    Informacao sobre os dados historicos gerados:\n        É gerado um DataFrame com as seguintes variáveis / colunas para cada acao ---> \n            "Date"     : representa a data do registro no formato "AAAA-MM-DD"\n            "Open"     : Preco de abertura do dia\n            "High"     : Preco mais alto do dia\n            "Low"      : Preco mais baixo do dia\n            "Close"    : Preco de fechamendo do dia\n            "Adj Close": Preco de fechamento ajustado. Esse valor serve para ser usado em dividendos, splits de acoes, etc... (Eventos corporativos)\n            "Volume"   : Representa o numero total de acoes negociadas durante o dia\n'

# 3. Indicadores técnicos

### 3.1 SMA

In [14]:
%%time

MM_sma(lista_acoes) # FUNCAO PARA OBTER O INDICADOR 'SMA'(SIMPLE MOVING AVERAGE ou MEDIA MOVEL SIMPLES)

CPU times: total: 109 ms
Wall time: 130 ms

### 3.2 EMA

In [15]:
%%time

MM_ema(lista_acoes) # FUNCAO PARA OBTER O INDICADOR 'EMA'(EXPONENTIAL MOVING AVERAGE ou MEDIA MOVEL EXPONENCIAL)

CPU times: total: 78.1 ms
Wall time: 174 ms

### 3.3 RSI

In [16]:
%%time

MM_rsi(lista_acoes)

CPU times: total: 109 ms
Wall time: 142 ms

### 3.4 MACD

In [17]:
%%time

MM_macd(lista_acoes)

CPU times: total: 188 ms
Wall time: 223 ms

### 3.5 Bollinger Bands

In [18]:
%%time

MM_bb(lista_acoes) # FUNCAO PARA OBTER OS INDICADORES BB(Bollinger Band) dos ativos

CPU times: total: 156 ms
Wall time: 232 ms

### 3.6 ATR

In [19]:
%%time

MM_atr(lista_acoes) # FUNCAO PARA OBTER O INDICADOR "ATR" (AVERAGE TRUE RANGE)

CPU times: total: 203 ms
Wall time: 250 ms

### 3.7 Indicador Estocástico

In [20]:
%%time

MM_estc(lista_acoes)

CPU times: total: 188 ms
Wall time: 267 ms

# 4. Data Wrangling

### 4.1 Info

### 4.1 Removendo colunas que não seram usadas

In [42]:
%%time

df = pd.read_csv("Base_dados/hist_TSLA")


lista_colunas = ['Unnamed: 0.5','Unnamed: 0.4','Unnamed: 0.3','Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0']

df = df.drop(columns=lista_colunas)
df = df.set_index('Date')

df

CPU times: total: 15.6 ms
Wall time: 7 ms

,Open,High,Low,Close,Adj Close,Volume,SMA_10,EMA_10,RSI_10,MACD,MACD_Histogram,BBL_20_2.0,BBM_20_2.0,BBU_20_2.0,BBB_20_2.0,BBP_20_2.0,ATRr_14,stoch_k,stoch_d
Date,,,,,,,,,,,,,,,,,,,
2020-01-02,28.299999,28.713333,28.114000,28.684000,28.684000,142981500,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,29.366667,30.266666,29.128000,29.534000,29.534000,266677500,NaN,NaN,NaN,0.067806,0.054245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,29.364668,30.104000,29.333332,30.102667,30.102667,151995000,NaN,NaN,NaN,0.165522,0.121568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,30.760000,31.441999,30.224001,31.270666,31.270666,268231500,NaN,NaN,NaN,0.333367,0.231531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,31.580000,33.232666,31.215334,32.809334,32.809334,467164500,NaN,NaN,NaN,0.583813,0.385582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,256.760010,258.220001,251.369995,252.539993,252.539993,93249800,248.406999,249.329040,58.780695,5.223831,0.802601,231.150622,244.503500,257.856377,10.922443,0.800927,8.943707,73.303838,76.777169
2023-12-26,254.490005,257.970001,252.910004,256.609985,256.609985,86892400,250.093997,250.652848,62.495251,5.495890,0.859727,231.774750,245.529999,259.285248,11.204536,0.902755,8.692729,83.280646,78.639999
2023-12-27,258.350006,263.339996,257.519989,261.440002,261.440002,106494400,252.536998,252.614149,66.478540,6.031711,1.116439,230.858776,246.265999,261.673222,12.512667,0.992432,8.552535,87.104124,81.229536
2023-12-28,263.660004,265.130005,252.710007,253.179993,253.179993,113619900,253.925998,252.717030,55.315302,5.723858,0.646868,231.058433,246.717999,262.377564,12.694303,0.706327,8.828782,84.008633,84.797801
2023-12-29,255.100006,255.190002,247.429993,248.479996,248.479996,100615300,253.668997,251.946660,50.006354,5.042505,-0.027588,231.765142,247.137998,262.510854,12.440706,0.543648,8.752441,72.383073,81.165277

In [48]:
df.boxplot(column=["High"])

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1006 entries, 2020-01-02 to 2023-12-29
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Open            1006 non-null   float64
 1   High            1006 non-null   float64
 2   Low             1006 non-null   float64
 3   Close           1006 non-null   float64
 4   Adj Close       1006 non-null   float64
 5   Volume          1006 non-null   int64
 6   SMA_10          997 non-null    float64
 7   EMA_10          997 non-null    float64
 8   RSI_10          996 non-null    float64
 9   MACD            1006 non-null   float64
 10  MACD_Histogram  1006 non-null   float64
 11  BBL_20_2.0      987 non-null    float64
 12  BBM_20_2.0      987 non-null    float64
 13  BBU_20_2.0      987 non-null    float64
 14  BBB_20_2.0      987 non-null    float64
 15  BBP_20_2.0      987 non-null    float64
 16  ATRr_14         992 non-null    float64
 17  stoch_k         991 non-null    float64
 18  stoch_d         989 non-null    float64
dtypes: float64(18), int64(1)
memory usage: 157.2+ KB

In [33]:
df.dropna(inplace=True)  # Remove linhas com valores ausentes

In [34]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,SMA_10,EMA_10,RSI_10,MACD,MACD_Histogram,BBL_20_2.0,BBM_20_2.0,BBU_20_2.0,BBB_20_2.0,BBP_20_2.0,ATRr_14,stoch_k,stoch_d
Date,,,,,,,,,,,,,,,,,,,
2020-01-30,42.161331,43.391998,41.200001,42.720669,42.720669,435085500,37.496600,37.734858,85.787607,2.639939,0.550914,27.812377,34.837566,41.862756,40.331117,1.061060,1.971172,87.117057,81.736019
2020-01-31,42.666668,43.533333,42.167999,43.371334,43.371334,235789500,38.410467,38.759672,86.677273,2.930907,0.673505,28.210692,35.571933,42.933175,41.387919,1.029761,1.915179,93.899932,87.137657
2020-02-03,44.912666,52.409332,44.901333,52.000000,52.000000,705975000,40.207133,41.167004,93.069622,3.813799,1.245117,26.906177,36.695233,46.484289,53.353283,1.281728,2.559948,96.906199,92.641063
2020-02-04,58.863998,64.599335,55.591999,59.137333,59.137333,914082000,42.472867,44.434337,95.190505,5.031421,1.970192,24.751718,38.146966,51.542215,70.229691,1.283500,3.451703,93.073154,94.626429
2020-02-05,54.883999,56.398666,46.940666,48.980000,48.980000,726357000,43.573800,45.260821,64.148610,5.117789,1.645248,25.237119,39.032433,52.827747,70.686417,0.860541,4.215197,77.197608,89.058987